/*选择条件*/
.clear{clear:both; height: 0; line-height: 0; font-size: 0}
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
ul li{
	list-style-type: none;
}
em{
	font-style: normal;
}
.container{
	width: 1200px;
	margin: 0 auto;
}
.select-list{
	border: 1px solid #e9e9e9;
	background-color: #fff;
	margin-bottom: 15px;
	position: relative;
}
.select-list .left{
	float: left;
	height: 40px;
}
.select-list .left .active{
	background-color:orange ;
	color: white;
	border-right: 1px solid orange;
}
.select-list .left a{
	float: left;
	height: 40px;
	position: relative;
	padding: 0 15px;
	border-right: 1px solid #e9e9e9;
	line-height: 40px;
	background-color: #fff;
	display: inline-block;
	cursor: pointer;
}
.select-list .left a:hover{
	background-color:orange ;
	color: white;
}
.prices{
	width:40px;
}
.left .prices i {
	background-image: url(../../img/viewticket/un_ticket.png);
	background-repeat: no-repeat;
    position: absolute;
    width: 16px;
    height: 11px;
    background-position: -20px 0;
    right: 2px;
    top: 15px;
    overflow: hidden;
}
.left .prices-box{
	position: absolute;
	width: 132px;
	height: 80px;
	top: 40px;
	left: 126px;
	border:1px solid gainsboro;
	display: none;
	z-index:60;
}
.select-list .right{
	height: 40px;
	width: 900px;
	margin-left: 200px;
}
.select-list .right .sight-subjiect{
	float: left;
	display: inline;
	height: 40px;
	line-height: 40px;
	margin-left: 20px;
}

.sight-subjiect-list{
	float: left;
	display: inline;
	padding-right: 6px;
	overflow: hidden;
	height: 80px;
}
.sight-subjiect-list dd{
	float: left;
	display: inline;
	height: 40px;
	line-height: 40px;
	padding: 0 5px;
	cursor: pointer;
}
.sight-subjiect-list dd span{
	font-family: "微软雅黑";
	font-size: 14px;
	color: gray;
}
.sight-subjiect-list .active span{
	background-color:orange ;
	color: white;
}
.sight-subjiect-list dd:hover span{
	background-color:orange ;
	color: white;
}

/*门票开始*/
.sight{
		width: 900px;
		float: left;
}


.sight-item{
	width: 900px;
	border: 1px solid #e9e9e9;
	background-color: #fff;
	border-bottom: 2px solid #d4d4d4;
	position: relative;
	margin-bottom: 10px;
}
.sight-item-img{
	width: 280px;
	height: 200px;
	float: left;
}
.sight-item-info{
	height: 178px;
	width: 348px;
	float: left;
	border-right:2px dashed orange;
	padding-top: 22px;
	padding-left: 50px;
}
.sight-item-name{
	font: normal 28px/56px "Microsoft Yahei",Arial,sans-serif;
	color: #09f;
}
.sight-item-address .level{
	color: orange;
	font-family: "微软雅黑";
}
.sight-item-address .area{
	font-size: 14px;
}
.address{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
	color: gray;
}
.feature{
	color: gray;
}
.sight-item-order{
	width:220px;
	float: left;
	padding-top: 22px;
}
.sight-item-order table{
	text-align: center;
	padding-left: 40px;
}
.sight-item-order table td{
	vertical-align: middle;
}
.sight-item-price{
	color: #999;
	margin-top: 10px;
	font-size: 14px;
}
.sight-item-price i{
	font-family: arial,"microsoft yahei";
	color: #f70;
}
.sight-item-price em{
	font-family: tahoma,arial,sans-serif;
	font-size: 30px;
	color: #f70;
	padding-right: 4px;
}
.sight-item-discount{
	margin-top: 10px;
	display: inline-block;
	width: 42px;
	padding-left: 20px;
	color: #ff6300;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
}
.sight-item-source{
	display: inline-block;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
	text-decoration: line-through;
	color: #999;
}
.sight-item-do{
	width: 120px;
	height: 36px;
	margin-top: 12px;
	font-size: 14px;
	font-weight: 700;
	line-height: 36px;
	background: orange;
	color:white;
	display: inline-block;
	cursor: pointer;
}
.sight-item-do:hover{
	background-color:#09f ;
}

.sight-item-soldNum{
	color: #999;
	padding-top: 10px;
}
/*top排行榜样式*/
.top-ticket{
	width: 274px;
	float: left;
	padding-bottom: 10px;
	border: 1px solid #d4d4d4;
	margin-left: 22px;
}
.top-ticket h3{
	height: 28px;
	line-height: 28px;
	padding: 9px 25px 0;
	font-size: 16px;
	color: #979797;
	border-bottom: 1px #e0e0e0 solid;
}
.top-list{
	padding: 0 20px 10px;
}
.top-list li{
	border-bottom: 1px #e0e0e0 solid;
	padding: 12px 0;
	cursor: pointer;
}
.top-list li.on,
.top-list a:hover{
	text-decoration: none;
	color: #009ef0;
}
.top-list li.on img,
.top-list a:hover img{
	display: block;
}
.top-list li.on em,
.top-list a:hover em{
	background: #fa5551;
}
.top-list a{
	display: block;
	font-size: 16px;
	line-height: 22px;
	color: #333;
	padding-left: 26px;
}
.top-list em{
	float: left;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background: #009ef0;
	background-clip: border-box;
	line-height: 22px;
	text-align: center;
	color: #fff;
	margin-left: -26px;
}
.top-list img{
	margin-top: 5px;
	display: none;
}
